<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
    crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <form class="pure-form pure-form-stacked" style="padding:10px;">
      <textarea v-model="firebaseConfig" rows=10 style="width:100%" :disabled="firebaseInitialised"></textarea>
      <br />
      <button type="button" @click="initialiseFirebase" :disabled="firebaseInitialised" class="pure-button">Initialise
        firebase</button>
      <hr />
      <div class="pure-g">
        <div class="pure-u-1-2">
          <div>
            <input v-model="registerPath" />
            <button type="button" @click="register" class="pure-button">Register Path</button>
          </div>
          <br />
          <div>
            <input v-model="unregisterPath" />
            <button type="button" @click="unregister" class="pure-button">Unregister Path</button>
          </div>
          <br />
          <div>
            <input v-model="docPath" />
            <input v-model="document" />
            <button type="button" @click="setDoc" class="pure-button">setDoc</button>
          </div>
        </div>
        <div class="pure-u-1-2">
          <pre>{{fdb}}</pre>
        </div>
      </div>
    </form>
  </div>
  <script src="./index.ts"></script>
</body>

</html>